Repository mj-nehme/raqeem: changes, and which Codecov flags are due for each by the changed paths.
All: mentor-backend, devices-backend, mentor-frontend, devices-frontend

codecov.yml:

codecov:
  require_ci_to_pass: false # Allow codecov to work even if other CI checks fail
  notify:
    wait_for_ci: false

coverage:
  precision: 2
  round: down
  range: "90...100"
  status:
    project:
      default:
        target: 90%
        threshold: 5%
        if_ci_failed: error
    patch:
      default:
        target: 90%
        threshold: 5%

flags:
  mentor-backend:
    paths:
      - mentor/backend/src/
    carryforward: true
  devices-backend:
    paths:
      - devices/backend/src/
    carryforward: true
  mentor-frontend:
    paths:
      - mentor/frontend/src/
    carryforward: true
  devices-frontend:
    paths:
      - devices/frontend/src/
    carryforward: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

scripts: rebuild run-tests.sh for macOS bash 3.x, multi-suite summary, clean help & interactive mode
  scripts/run-tests.sh
Due: none

Change default assignee for lint fixing issue
  .github/ISSUE_TEMPLATE/fix-ci-lints-typechecks.md
Due: none

devices: macOS agent uses DEVICES_BACKEND_ADDR (ip:port) with ~/.raqeem/backend_addr.txt fallback; rename devices/frontend -> devices/web-simulator and update scripts, CI, docs
  .github/ISSUE_TEMPLATE/fix-ci-lints-typechecks.md
  .github/dependabot.yml
  .github/workflows/ci.yml
  CONTRIBUTING.md
  COVERAGE_ACTION_PLAN.md
  MANIFEST.in
  RELEASE_CHECKLIST.md
  codecov.yml
  devices/agent-macos/Package.swift
  devices/agent-macos/README.md
  devices/agent-macos/Sources/DeviceAgent/main.swift
  devices/web-simulator/.env
  devices/web-simulator/.gitignore
  devices/web-simulator/README.md
  devices/web-simulator/eslint.config.js
  devices/web-simulator/index.html
  devices/web-simulator/package-lock.json
  devices/web-simulator/package.json
  devices/web-simulator/public/vite.svg
  devices/web-simulator/src/App.css
  devices/web-simulator/src/App.jsx
  devices/web-simulator/src/App.test.jsx
  devices/web-simulator/src/assets/react.svg
  devices/web-simulator/src/components/DeviceSimulator.css
  devices/web-simulator/src/components/DeviceSimulator.jsx
  devices/web-simulator/src/components/DeviceSimulator.test.jsx
  devices/web-simulator/src/index.css
  devices/web-simulator/src/main.jsx
  devices/web-simulator/src/setupTests.js
  devices/web-simulator/test.png
  devices/web-simulator/user.html
  devices/web-simulator/vite.config.js
  docs/DEPLOYMENT.md
  docs/DEVELOPMENT.md
  docs/TESTING.md
  docs/TROUBLESHOOTING.md
  scripts/run-tests.sh
  scripts/start-smart.sh
Due: none

CI: fix Check Services Health under act by installing PostgreSQL client; make MinIO client install sudo-optional
  .github/workflows/ci.yml
  scripts/start-smart.sh
  scripts/stop-smart.sh
Due: none

chore: release v1.1.0
  charts/devices-backend/values.yaml
  charts/mentor-backend/values.yaml
Due: none

deleted stale files
  mentor/frontend/.vite/deps/_metadata.json
  mentor/frontend/.vite/deps/package.json
Due: none

Increase coverage of endpoints/devices.py
  devices/backend/src/tests/api/v1/endpoints/test_device_forwarding.py
  devices/backend/src/tests/api/v1/endpoints/test_devices.py
  devices/backend/src/tests/api/v1/endpoints/test_error_handling.py
  devices/backend/src/tests/conftest.py
Due: devices-backend

Increase coverage of endpoints/screenshots.py
  devices/backend/src/tests/api/v1/endpoints/test_screenshots.py
Due: devices-backend

Delete devices/agent-macos directory
  devices/agent-macos/Package.swift
  devices/agent-macos/README.md
  devices/agent-macos/Sources/DeviceAgent/main.swift
Due: none

Finalize no-skip policy changes and resolve test fixture conflict
  .github/ISSUE_TEMPLATE/fix-unit-tests.md
  devices/backend/pytest.ini
  devices/backend/requirements-test.txt
  devices/backend/src/app/db/init_db.py
  devices/backend/src/tests/api/conftest.py
  devices/backend/src/tests/api/test_screenshot_forwarding.py
  devices/backend/src/tests/api/v1/endpoints/test_devices.py
  devices/backend/src/tests/conftest.py
  mentor/backend/src/controllers/health_coverage_test.go
  mentor/backend/src/database/db_connect_test.go
  mentor/backend/src/database/test_db.go
Due: mentor-backend, devices-backend

Mentor tests: remove sqlDB ping, enable MINIO_SKIP_CONNECT in CI
  .github/workflows/ci.yml
  mentor/backend/src/database/test_db.go
Due: mentor-backend

CI: Add MinIO service + readiness checks; use services in test jobs
  .github/workflows/ci.yml
Due: none

chore: release v1.1.1
  charts/devices-backend/values.yaml
  charts/mentor-backend/values.yaml
Due: none

CI fix: remove unsupported service command; start MinIO via steps
  .github/workflows/ci.yml
Due: none

Refactor CI workflow
  .github/actions/minio-setup/action.yml
  .github/actions/postgres-ready/action.yml
  .github/workflows/ci.yml
Due: none

tests(mentor): avoid closing shared DB pool in TestShutdown by using isolated connection; prevent subsequent "sql: database is closed" failures
  mentor/backend/src/database/db_functions_test.go
Due: mentor-backend

chore: release v1.1.2
  charts/devices-backend/values.yaml
  charts/mentor-backend/values.yaml
Due: none

repo(cleanup): add .gitignore; remove local artifacts; clarify educational IoT/cloud purpose in README and PURPOSE.md; stabilize mentor Shutdown test
  .gitignore
  PURPOSE.md
  README.md
Due: none

chore: release v1.1.3
  charts/devices-backend/values.yaml
  charts/mentor-backend/values.yaml
Due: none

feat(start/stop): orchestrator with targets, per-component scripts, PVC cleanup, slimmer Docker build
  .gitignore
  README.md
  devices/backend/.env
  devices/backend/Dockerfile
  devices/backend/scripts/start.sh
  devices/backend/scripts/stop.sh
  devices/web-simulator/.env
  devices/web-simulator/package-lock.json
  devices/web-simulator/scripts/start.sh
  devices/web-simulator/scripts/stop.sh
  learning/IaC/s3.yml
  learning/k8s/postgres/k8s-postgres-pod.yaml
  learning/k8s/postgres/k8s-postgres-pvc.yaml
  learning/k8s/postgres/k8s-postgres-statefulset.yaml
  learning/k8s/postgres/k8s-postgres-svc.yaml
  learning/terraform/main.tf
  learning/terraform/s3.tf
  mentor/backend/.env
  mentor/backend/scripts/start.sh
  mentor/backend/scripts/stop.sh
  mentor/dashboard/package-lock.json
  mentor/dashboard/scripts/start.sh
  mentor/dashboard/scripts/stop.sh
  scripts/start-infra.sh
  scripts/stop-infra.sh
  scripts/stop-smart.sh
  start.sh
  stop.sh
Due: none

chore: add preflight checks to start scripts; remove MINIO_* from mentor env
  .github/docker-compose.test.yml
  .github/workflows/ci.yml
  README.md
  charts/devices-backend/templates/deployment.yaml
  charts/mentor-backend/templates/deployment.yaml
  devices/backend/.env
  devices/backend/scripts/start.sh
  devices/backend/src/app/core/config.py
  devices/backend/src/app/services/minio_service.py
  devices/backend/src/tests/api/test_alerts_forwarding.py
  devices/backend/src/tests/api/test_comprehensive_endpoints.py
  devices/backend/src/tests/api/test_screenshot_forwarding.py
  devices/backend/src/tests/conftest.py
  devices/backend/src/tests/core/test_config.py
  devices/backend/src/tests/services/test_comprehensive_business_logic.py
  devices/backend/src/tests/services/test_minio_service.py
  devices/web-simulator/scripts/start.sh
  docs/DEPLOYMENT.md
  docs/DEVELOPMENT.md
  learning/eks/nodegroup.yaml
  learning/k8s/mentor/backend/k8s-mentor-backend-deployment.yaml
  learning/k8s/postgres/k8s-gp3.yaml
  learning/k8s/postgres/k8s-postgres-configmap.yaml
  mentor/backend/.env
  mentor/backend/scripts/start.sh
  mentor/backend/src/.env
  mentor/backend/src/controllers/health_coverage_test.go
  mentor/backend/src/s3/client.go
  mentor/backend/src/s3/client_enhanced_test.go
  mentor/backend/src/s3/client_test.go
  mentor/backend/src/s3/full_coverage_test.go
  mentor/backend/src/s3/health_and_init_test.go
  mentor/dashboard/scripts/start.sh
  scripts/preflight.sh
  scripts/start-infra.sh
  start.sh
  tests/battle/README.md
Due: mentor-backend, devices-backend
