Repository mj-nehme/raqeem: changes, and which Codecov flags are due for each by the changed paths.
All: mentor-backend, devices-backend, mentor-frontend, devices-frontend

fix go unit tests
  .github/workflows/ci.yml
  mentor/backend/src/controllers/comprehensive_test.go
  mentor/backend/src/controllers/coverage_boost_test.go
  mentor/backend/src/controllers/coverage_test.go
  mentor/backend/src/controllers/device_coverage_improvement_test.go
  mentor/backend/src/controllers/device_pending_commands_coverage_test.go
  mentor/backend/src/controllers/error_coverage_test.go
  mentor/backend/src/controllers/final_coverage_test.go
  mentor/backend/src/database/database_test.go
  mentor/backend/src/database/db.go
  mentor/backend/src/database/db_connect_test.go
  mentor/backend/src/database/edge_cases_test.go
  mentor/backend/src/go.mod
  mentor/backend/src/go.sum
  mentor/backend/src/logging/logger_additional_test.go
  mentor/backend/src/reliability/circuit_breaker.go
  mentor/backend/src/reliability/circuit_breaker_test.go
  mentor/backend/src/reliability/retry.go
  mentor/backend/src/reliability/retry_test.go
  mentor/backend/src/router/middleware.go
  mentor/backend/src/s3/client_enhanced_test.go
  mentor/backend/src/util/httpclient.go
Due: mentor-backend

Update CI workflow to support master branch for image publishing
  .github/workflows/ci.yml
Due: none

Add top-level workflow permissions for GHCR package publishing
  .github/workflows/ci.yml
Due: none

Fix local image build to include v0.2.0 tag for Kubernetes deployment
  scripts/build-local-images.sh
Due: none

Fix MinIO SSL configuration - disable HTTPS for internal Kubernetes service
  charts/devices-backend/templates/deployment.yaml
  charts/devices-backend/values.yaml
Due: none

Improve tag-release script: add confirmation prompt and clearer documentation
  scripts/tag-release.sh
Due: none

Fix screenshot display: add streaming endpoint and presign client for public endpoint
  charts/devices-backend/values.yaml
  charts/mentor-backend/templates/deployment.yaml
  charts/mentor-backend/values.yaml
  charts/minio/templates/service.yaml
  charts/minio/values.yaml
  devices/backend/.env
  mentor/backend/src/.env
  mentor/backend/src/controllers/device.go
  mentor/backend/src/controllers/device_test.go
  mentor/backend/src/router/router.go
  mentor/backend/src/s3/client.go
  mentor/backend/src/s3/health_and_init_test.go
  mentor/frontend/src/components/DeviceDashboard.jsx
  scripts/tag-release.sh
Due: mentor-backend, mentor-frontend

Finalize screenshot fix: streaming endpoint + frontend fallback adjustments
  mentor/backend/src/controllers/device.go
  mentor/frontend/src/components/DeviceDashboard.jsx
Due: mentor-backend, mentor-frontend

chore: lint fixes (Go fmt, ESLint --fix)
  mentor/backend/src/s3/client.go
Due: mentor-backend

feat(frontend): scoped dashboard polling and screenshot error fallback
  mentor/frontend/src/components/DeviceDashboard.jsx
Due: mentor-frontend

perf(frontend): tab-scoped polling & memoized charts
  mentor/frontend/src/components/DeviceDashboard.jsx
Due: mentor-frontend

fix(screenshots): support nested paths via wildcard route and encoded fallback
  mentor/backend/src/controllers/device.go
  mentor/backend/src/router/router.go
  mentor/frontend/src/components/DeviceDashboard.jsx
Due: mentor-backend, mentor-frontend

refactor(screenshots): revert to flat filename route /screenshots/:filename
  mentor/backend/src/controllers/device.go
  mentor/backend/src/router/router.go
  mentor/frontend/src/components/DeviceDashboard.jsx
Due: mentor-backend, mentor-frontend

Screenshots appearing on the Mentor Dashboard
  mentor/frontend/src/components/DeviceDashboard.jsx
Due: mentor-frontend

Fixed command submission
  devices/frontend/src/components/DeviceSimulator.jsx
  mentor/frontend/src/components/DeviceDashboard.jsx
Due: mentor-frontend, devices-frontend

unify packages naming
  .github/workflows/ci.yml
  RELEASE_CHECKLIST.md
  docs/CI_CD_TESTING.md
  docs/CONTAINER_REGISTRY_STRATEGY.md
  docs/DEPLOYMENT.md
  docs/DEVELOPMENT.md
  docs/GHCR_MIGRATION.md
  docs/RELEASE_WORKFLOW.md
  docs/TROUBLESHOOTING.md
Due: none

Unify GH packages naming
  charts/mentor-backend/values.yaml
  docs/CONTAINER_REGISTRY_STRATEGY.md
  docs/RELEASE_WORKFLOW.md
Due: none

Revert GH packages naming to use Hyphen
  .github/workflows/ci.yml
  RELEASE_CHECKLIST.md
  charts/mentor-backend/values.yaml
  docs/CI_CD_TESTING.md
  docs/CONTAINER_REGISTRY_STRATEGY.md
  docs/DEPLOYMENT.md
  docs/DEVELOPMENT.md
  docs/GHCR_MIGRATION.md
  docs/RELEASE_WORKFLOW.md
  docs/TROUBLESHOOTING.md
  scripts/build-local-images.sh
  scripts/tag-release.sh
Due: none

docs: prune for v1.0.0 baseline; consolidate testing/setup; remove legacy references and files
  CHANGELOG.md
  CONTRIBUTING.md
  COVERAGE_ACTION_PLAN.md
  README.md
  README_PACKAGE.md
  RELEASE_CHECKLIST.md
  VERSION
  charts/devices-backend/values.yaml
  charts/mentor-backend/values.yaml
  docs/API_INTEGRATION_GUIDE.md
  docs/API_QUICK_REFERENCE.md
  docs/BRANCH_CLEANUP.md
  docs/CI_CD_TESTING.md
  docs/CONTAINER_REGISTRY_STRATEGY.md
  docs/COVERAGE_SETUP.md
  docs/DASHBOARD_DATA_FLOW.md
  docs/DATA_FORWARDING.md
  docs/DEPLOYMENT.md
  docs/DEVELOPMENT.md
  docs/ERROR_HANDLING.md
  docs/FIRST_TIME_SETUP.md
  docs/GHCR_MIGRATION.md
  docs/LOCAL_CI.md
  docs/MANUAL_TESTING_GUIDE.md
  docs/OPENAPI_SPECIFICATIONS.md
  docs/RELEASE_WORKFLOW.md
  docs/TESTING.md
  docs/TESTING_BEST_PRACTICES.md
  docs/TEST_COVERAGE_REPORT.md
  docs/TEST_EXECUTION_GUIDE.md
  docs/TROUBLESHOOTING.md
  docs/VERSION_MANAGEMENT.md
  scripts/build-local-images.sh
  scripts/tag-release.sh
  tests/README.md
  tests/battle/README.md
Due: none

Fix authentication
  scripts/tag-release.sh
Due: none

Fix
  scripts/tag-release.sh
Due: none

And another fix tag-release
  scripts/tag-release.sh
Due: none

chore(scripts): remove deprecated helper scripts
  scripts/cleanup-branches.sh
  scripts/collect-comprehensive-coverage.sh
  scripts/health-check.sh
  scripts/lint-field-names.sh
  scripts/test-before-release.sh
Due: none

Some clean up
  docs/RELEASE_WORKFLOW.md
  docs/TESTING.md
  scripts/build-local-images.sh
Due: none

Fix Battle Testing
  .github/workflows/ci.yml
  .github/workflows/cleanup-merged-branches.yml
  .gitignore
  devices/backend/src/app/main.py
  docs/BATTLE_TESTING.md
  mentor/backend/src/router/router.go
  scripts/run-battle-tests.sh
  scripts/start-smart.sh
  scripts/start.sh
  scripts/stop.sh
  tests/battle/benchmark_test.py
  tests/battle/load_test.py
  tests/battle/run_battle_tests.sh
  tests/battle/stress_test.py
  tests/conftest.py
Due: mentor-backend, devices-backend

Fix Battle Testing For CI pipeline
  .github/workflows/ci.yml
Due: none

Fixed docker-compose.test.yml
  .github/docker-compose.test.yml
  .github/workflows/ci.yml
Due: none

Run Battle Tests on Release rather than on push
  .github/workflows/ci.yml
Due: none

Update DB connection in docker-compose.test.yml
  .github/docker-compose.test.yml
Due: none

Create Backend API table
  README.md
  docs/BACKEND_API_TABLE.md
Due: none

chore: release v1.0.1
  charts/devices-backend/values.yaml
  charts/mentor-backend/values.yaml
Due: none

Refactor GH issue templates
  .github/ISSUE_TEMPLATE/fix-ci-lints-typechecks.md
Due: none

Remove some comments from README.md
  README.md
Due: none

chore: release v1.0.2
  charts/devices-backend/values.yaml
  charts/mentor-backend/values.yaml
Due: none

Add local pipeline using act and fix the backend unit tests
  devices/backend/src/app/api/v1/endpoints/screenshots.py
  devices/backend/src/app/main.py
  mentor/backend/src/main_test.go
  scripts/run-battle-tests.sh
  scripts/run-ci-local.sh
  scripts/run-tests.sh
  scripts/service-discovery.sh
  scripts/start-smart.sh
  scripts/start.sh
  scripts/stop.sh
Due: mentor-backend, devices-backend

update run-test.sh
  scripts/run-ci-local.sh
  scripts/run-tests.sh
Due: none

chore: release v1.0.3
  charts/devices-backend/values.yaml
  charts/mentor-backend/values.yaml
Due: none

ci(dev): improve local CI UX and device tests
  scripts/run-ci-local.sh
Due: none

mentor/frontend: silence react-hooks exhaustive-deps warnings in DeviceDashboard polling effects
  mentor/frontend/src/components/DeviceDashboard.jsx
Due: mentor-frontend

Path conditions:
  mentor-backend: any of: mentor/backend/src/
  devices-backend: any of: devices/backend/src/
  mentor-frontend: any of: mentor/frontend/src/
  devices-frontend: any of: devices/frontend/src/
