Repository mj-nehme/raqeem: changes, and which Codecov flags are due for each by the changed paths.
All: mentor-backend, devices-backend, mentor-frontend, devices-frontend

Significantly simplify README file
  README.md
Due: none

Add back essential badges and comprehensive architecture diagram
  README.md
Due: none

Fix start script and frontend API connectivity issues
  charts/devices-backend/values.yaml
  charts/mentor-backend/values.yaml
  mentor/frontend/package-lock.json
  mentor/frontend/src/components/DeviceDashboard.jsx
  scripts/start-smart.sh
Due: mentor-frontend

Fix Go version compatibility for golangci-lint
  mentor/backend/src/go.mod
Due: mentor-backend

Fix Go version compatibility issue - set go 1.23
  mentor/backend/src/go.mod
Due: mentor-backend

Skip golangci-lint cache to resolve Go version compatibility
  .github/workflows/ci.yml
Due: none

Add go mod download step before golangci-lint
  .github/workflows/ci.yml
Due: none

Upgrade to Go 1.24 and golangci-lint v2.6.1 for compatibility
  .github/workflows/ci.yml
  mentor/backend/src/go.mod
Due: mentor-backend

Fix golangci-lint version compatibility with action@v6
  .github/workflows/ci.yml
Due: none

🚀 Comprehensive upgrade to Go 1.25 with latest toolchain
  .github/workflows/ci.yml
  mentor/backend/Dockerfile
  mentor/backend/src/go.mod
Due: mentor-backend

📝 Update golangci-lint config for v2.6.1 compatibility
  mentor/backend/.golangci.yml
  mentor/backend/src/.golangci.yml
Due: mentor-backend

🔧 Revert to golangci-lint v1.64.8 with v1.x config format
  .github/workflows/ci.yml
  mentor/backend/.golangci.yml
  mentor/backend/src/.golangci.yml
Due: mentor-backend

Update golangci-lint to v2.6.1 with Go 1.25 support
  .github/workflows/ci.yml
  mentor/backend/.golangci.yml
  mentor/backend/src/.golangci.yml
Due: mentor-backend

Upgrade golangci-lint-action to v7 for v2.x support
  .github/workflows/ci.yml
Due: none

Add CORS issue tracking and root cause analysis
  .github/ISSUE_TEMPLATE/cors_issue.md
  CORS_ISSUE_TRACKING.md
Due: none

fix: Add database schema migration to fix UUID vs bigint mismatch
  db/fix_device_metrics_schema.sql
Due: none

Implement dynamic CORS configuration with environment variables
  devices/frontend/src/components/DeviceSimulator.jsx
  devices/frontend/src/components/DeviceSimulator.test.jsx
  scripts/start-smart.sh
Due: devices-frontend

fix: Add screenshots table schema migration to resolve CORS 500 errors
  db/fix_screenshots_schema.sql
Due: none

🚀 Release v0.0.5: Complete system cleanup and production-ready deployment
  charts/devices-backend/values.yaml
  charts/mentor-backend/values.yaml
  db/modern_schema.sql
  devices/backend/src/app/models/devices.py
Due: devices-backend

Fixed the DB schema problems
  db/modern_schema.sql
Due: none

Configure Dependabot to suggest only (no auto PRs)
  .github/dependabot.yml
Due: none

Configure Dependabot to suggest only (no auto PRs) + Schema alignment fixes
  .github_issue_template.md
  charts/devices-backend/values.yaml
  charts/mentor-backend/values.yaml
  db/README.md
  db/fix_device_metrics_schema.sql
  db/fix_screenshots_schema.sql
  db/monitor.sql
  devices/backend/src/app/api/v1/endpoints/devices.py
Due: devices-backend

Fix Go linting issues: Check error returns from os.Setenv/Unsetenv
  mentor/backend/src/database/coverage_boost_test.go
  mentor/backend/src/database/edge_cases_test.go
Due: mentor-backend

Update package-lock.json: Remove unused peer dependencies
  mentor/frontend/package-lock.json
Due: none

Fix remaining Go linting issues: Additional errcheck fixes
  mentor/backend/src/database/edge_cases_test.go
  mentor/backend/src/s3/client_test.go
Due: mentor-backend

Refactor docs: Move swagger template to separate file for better coverage
  mentor/backend/src/docs/docs.go
  mentor/backend/src/docs/docs_test.go
  mentor/backend/src/docs/swagger_template.json
Due: mentor-backend

fix: resolve all golangci-lint errors
  STARTUP_IMPROVEMENTS.md
  mentor/backend/src/database/db_connect_test.go
  mentor/backend/src/main_test.go
  mentor/backend/src/models/validation.go
  mentor/backend/src/models/validation_test.go
  mentor/backend/src/router/router.go
  mentor/backend/src/router/router_test.go
  mentor/backend/src/s3/client.go
  mentor/backend/src/s3/client_enhanced_test.go
  scripts/service-discovery.sh
  scripts/start-smart.sh
Due: mentor-backend

update modern_schema.sql
  db/modern_schema.sql
Due: none

Add TestAddActivityLogAndCheckExistence DB test
  db/modern_schema.sql
  mentor/backend/src/database/database_test.go
  mentor/backend/src/database/edge_cases_test.go
Due: mentor-backend

chore: release v0.0.6
  charts/devices-backend/values.yaml
  charts/mentor-backend/values.yaml
Due: none

fix python lint
  devices/backend/src/app/main.py
Due: devices-backend

fix ruff
  tests/integration/test_backend_communication.py
  tests/integration/test_e2e_system_flow.py
  tests/integration/test_mentor_backend_db_s3.py
Due: none

Ruff passed
  devices/backend/src/tests/models/test_devices.py
Due: devices-backend

Path conditions:
  mentor-backend: any of: mentor/backend/src/
  devices-backend: any of: devices/backend/src/
  mentor-frontend: any of: mentor/frontend/src/
  devices-frontend: any of: devices/frontend/src/
