Repository mj-nehme/raqeem: changes, and which Codecov flags are due for each by the changed paths.
All: mentor-backend, devices-backend, mentor-frontend, devices-frontend

modify POSTGRES_PASSWORD
  .github/workflows/ci.yml
  charts/devices-backend/templates/secret.yaml
  charts/mentor-backend/templates/secret.yaml
  devices/backend/.github/workflows/ci.yml
  devices/backend/src/app/db/session.py
  devices/backend/src/tests/api/test_comprehensive_endpoints.py
  mentor/backend/src/main.go
Due: mentor-backend, devices-backend

Small fixes - a lunching version
  charts/devices-backend/templates/secret.yaml
  charts/mentor-backend/templates/secret.yaml
  devices/backend/src/tests/services/test_comprehensive_business_logic.py
  devices/backend/src/tests/test_main.py
  devices/backend/src/tests/utils/formatters.py
Due: devices-backend

rename model types in GORM
  devices/backend/src/app/api/v1/endpoints/devices.py
  devices/backend/src/app/api/v1/endpoints/screenshots.py
  devices/backend/src/app/api/v1/endpoints/users.py
  devices/backend/src/tests/api/test_alerts_forwarding.py
  devices/backend/src/tests/api/test_comprehensive_endpoints.py
  devices/backend/src/tests/api/test_screenshot_forwarding.py
  devices/backend/src/tests/api/test_validation_logic.py
  devices/backend/src/tests/api/v1/endpoints/test_device_forwarding.py
  devices/backend/src/tests/api/v1/endpoints/test_devices.py
  devices/backend/src/tests/api/v1/endpoints/test_screenshots.py
  devices/backend/src/tests/api/v1/endpoints/test_users.py
  devices/backend/src/tests/core/test_cors.py
  devices/backend/tools/simulate_device.py
  docs/API.md
  docs/DEVELOPMENT.md
  docs/MANUAL_TESTING_GUIDE.md
  docs/TROUBLESHOOTING.md
  mentor/backend/src/controllers/comprehensive_coverage_test.go
  mentor/backend/src/controllers/comprehensive_test.go
  mentor/backend/src/controllers/coverage_test.go
  mentor/backend/src/controllers/device.go
  mentor/backend/src/controllers/device_test.go
  mentor/backend/src/controllers/edge_case_test.go
  mentor/backend/src/controllers/final_coverage_test.go
  mentor/backend/src/controllers/integration_test.go
  mentor/backend/src/database/coverage_boost_test.go
  mentor/backend/src/database/database_test.go
  mentor/backend/src/docs/swagger.json
  mentor/backend/src/docs/swagger_template.json
  mentor/backend/src/go.mod
  mentor/backend/src/models/device.go
  mentor/backend/src/models/device_test.go
  mentor/backend/src/models/validation.go
  mentor/backend/src/models/validation_test.go
  tests/integration/test_alert_flow.py
  tests/integration/test_backend_communication.py
  tests/integration/test_devices_backend_db_s3.py
  tests/integration/test_e2e_system_flow.py
  tests/integration/test_mentor_backend_db_s3.py
  tests/smoke_test.py
Due: mentor-backend, devices-backend

Let the CI/CD pipeline fail on unit test failures
  .github/workflows/ci.yml
Due: none

update SetupTestDB in Go
  devices/backend/src/tests/api/test_alerts_forwarding.py
  devices/backend/src/tests/api/test_screenshot_forwarding.py
  mentor/backend/src/.env
  mentor/backend/src/controllers/additional_coverage_test.go
  mentor/backend/src/controllers/comprehensive_coverage_test.go
  mentor/backend/src/controllers/coverage_boost_test.go
  mentor/backend/src/controllers/device_coverage_improvement_test.go
  mentor/backend/src/controllers/device_pending_commands_coverage_test.go
  mentor/backend/src/controllers/device_test.go
  mentor/backend/src/controllers/final_coverage_test.go
  mentor/backend/src/controllers/integration_test.go
  mentor/backend/src/database/coverage_boost_test.go
  mentor/backend/src/database/database_test.go
  mentor/backend/src/database/db_connect_test.go
  mentor/backend/src/database/edge_cases_test.go
  mentor/backend/src/database/test_db.go
  mentor/backend/src/docs_test.go
  mentor/backend/src/main_test.go
Due: mentor-backend, devices-backend

fix update SetupTestDB in Go
  mentor/backend/src/database/coverage_boost_test.go
  mentor/backend/src/database/edge_cases_test.go
  mentor/backend/src/database/test_db.go
Due: mentor-backend

sync up with GH
  .github/ISSUE_TEMPLATE/fix-unit-tests.md
  docs/ISSUE_FIX_UNIT_TESTS.md
  mentor/backend/src/database/test_db.go
Due: mentor-backend

fix ruff
  devices/backend/src/app/models/devices.py
Due: devices-backend

chore: release v0.0.7
  charts/devices-backend/values.yaml
  charts/mentor-backend/values.yaml
Due: none

fix some go unit tests
  mentor/backend/src/controllers/additional_coverage_test.go
  mentor/backend/src/controllers/comprehensive_coverage_test.go
  mentor/backend/src/controllers/comprehensive_test.go
  mentor/backend/src/controllers/device.go
  mentor/backend/src/database/coverage_boost_test.go
  mentor/backend/src/database/database_test.go
  mentor/backend/src/database/db_connect_test.go
  mentor/backend/src/database/edge_cases_test.go
Due: mentor-backend

Fix Go Unit Tests
  mentor/backend/src/controllers/additional_coverage_test.go
  mentor/backend/src/controllers/comprehensive_coverage_test.go
  mentor/backend/src/controllers/comprehensive_test.go
  mentor/backend/src/controllers/coverage_boost_test.go
  mentor/backend/src/controllers/coverage_test.go
  mentor/backend/src/controllers/device_coverage_improvement_test.go
  mentor/backend/src/controllers/edge_case_test.go
  mentor/backend/src/controllers/final_coverage_test.go
Due: mentor-backend

v0.0.8
  devices/backend/src/app/api/v1/endpoints/devices.py
  devices/backend/src/app/api/v1/endpoints/screenshots.py
  devices/backend/src/app/db/init_db.py
  devices/backend/src/app/db/session.py
  devices/backend/src/app/main.py
  devices/backend/src/app/services/activity_service.py
  devices/backend/src/app/services/alert_service.py
  devices/backend/src/app/services/device_service.py
  devices/backend/src/app/services/file_service.py
  devices/backend/src/app/services/metrics_service.py
  devices/backend/src/app/services/security_service.py
  devices/backend/src/tests/api/conftest.py
  devices/backend/src/tests/api/test_validation_logic.py
  devices/backend/src/tests/utils/__init__.py
  pytest.ini
  tests/conftest.py
Due: devices-backend

chore: release v0.0.8
  charts/devices-backend/values.yaml
  charts/mentor-backend/values.yaml
Due: none

attempt to fix CORS
  devices/backend/src/app/core/cors.py
  mentor/backend/src/controllers/comprehensive_coverage_test.go
  mentor/backend/src/controllers/device.go
  mentor/backend/src/database/test_db.go
  mentor/backend/src/models/device.go
  mentor/backend/src/router/router.go
Due: mentor-backend, devices-backend

merge CROS and consistency branches
  CORS_ISSUE_TRACKING.md
  devices/backend/src/app/api/v1/endpoints/devices.py
  devices/backend/src/app/core/cors.py
Due: devices-backend

fix pipeline
  devices/backend/src/app/api/v1/endpoints/devices.py
  devices/backend/src/app/core/config.py
  devices/backend/src/app/core/cors.py
  devices/backend/src/tests/api/test_validation_logic.py
Due: devices-backend

fix: Update frontend tests to match API field names and fix event handling
  devices/frontend/src/components/DeviceSimulator.test.jsx
  mentor/backend/src/controllers/device.go
  mentor/backend/src/database/test_db.go
  mentor/frontend/src/components/DeviceDashboard.comprehensive.test.jsx
  mentor/frontend/src/components/DeviceDashboard.extended.test.jsx
  mentor/frontend/src/components/DeviceDashboard.jsx
Due: mentor-backend, mentor-frontend, devices-frontend

chore: release v0.0.9
  charts/devices-backend/values.yaml
  charts/mentor-backend/values.yaml
Due: none

feat: Enforce UUID format for deviceid and update frontend to generate UUIDs
  devices/backend/src/app/api/v1/endpoints/devices.py
  devices/frontend/src/components/DeviceSimulator.jsx
  devices/frontend/src/components/DeviceSimulator.test.jsx
Due: devices-backend, devices-frontend

v0.1.0
  .dockerignore
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github_issue_template.md
  .gitignore
  CHANGELOG.md
  CONTRIBUTING.md
  CORS_ISSUE_TRACKING.md
  COVERAGE_IMPLEMENTATION.md
  DATABASE_PERSISTENCE_FIX.md
  LICENSE
  MANIFEST.in
  MVP_ASSESSMENT.md
  MVP_COVERAGE_FINAL_REPORT.md
  MVP_FINAL_STATUS.md
  MVP_TEST_COVERAGE_STATUS.md
  README_PACKAGE.md
  RELEASE_CHECKLIST.md
  RELEASE_NOTES_CANONICAL_NAMING.md
  STARTUP_IMPROVEMENTS.md
  VERSION
  charts/devices-backend/Chart.yaml
  charts/mentor-backend/Chart.yaml
  charts/minio/Chart.yaml
  devices/backend/src/app/api/v1/endpoints/devices.py
  devices/frontend/package.json
  mentor/frontend/package.json
  pyproject.toml
  setup.py
Due: devices-backend

chore: release v0.1.0
  charts/devices-backend/values.yaml
  charts/mentor-backend/values.yaml
Due: none

fix pytest for version v0.1.0
  devices/backend/src/app/api/v1/endpoints/devices.py
  devices/backend/src/tests/conftest.py
Due: devices-backend

chore: release v0.1.1
  charts/devices-backend/values.yaml
  charts/mentor-backend/values.yaml
Due: none

devices-backend: expose session.sessionmaker alias for tests; ensure UTC datetimes in endpoints; repo-wide ruff clean
  devices/backend/src/app/db/session.py
Due: devices-backend

Fix pytest and remove dependency on remote branch
  LOCAL_BUILD_SETUP.md
  charts/devices-backend/values.yaml
  charts/mentor-backend/values.yaml
  mentor/backend/src/controllers/device.go
  mentor/backend/src/controllers/edge_case_coverage_test.go
  mentor/backend/src/s3/client.go
  mentor/backend/src/s3/client_test.go
  scripts/build-local-images.sh
  scripts/start-smart.sh
Due: mentor-backend

fix Go test
  mentor/backend/src/controllers/comprehensive_test.go
  mentor/backend/src/controllers/coverage_test.go
  mentor/backend/src/controllers/edge_case_test.go
  mentor/backend/src/controllers/integration_test.go
Due: mentor-backend

fix CORS
  .github/ISSUE_TEMPLATE/student-task.md
  README.md
  README_PACKAGE.md
  RELEASE_v0.2.0.md
  charts/devices-backend/values.yaml
  charts/mentor-backend/values.yaml
  devices/backend/src/app/api/v1/endpoints/devices.py
  devices/backend/src/app/api/v1/endpoints/health.py
  docs/API.md
  docs/API_INTEGRATION_GUIDE.md
  docs/API_QUICK_REFERENCE.md
  docs/ARCHITECTURE.md
  docs/DATA_FORWARDING.md
  docs/DEPLOYMENT.md
  docs/DEVELOPMENT.md
  docs/FIRST_TIME_SETUP.md
  docs/OPENAPI_SPECIFICATIONS.md
  docs/SWAGGER_VERIFICATION.md
  docs/TROUBLESHOOTING.md
  docs/mentor-openapi.yaml
  mentor/backend/src/docs/docs.go
  mentor/backend/src/docs/swagger.json
  mentor/backend/src/docs/swagger.yaml
  mentor/backend/src/main.go
  mentor/frontend/vite.config.js
  scripts/test-before-release.sh
Due: mentor-backend, devices-backend

fix ruff
  devices/backend/src/app/core/security.py
  devices/backend/src/app/services/device_service.py
  devices/backend/src/tests/core/test_cors.py
  pyproject.toml
  scripts/service-discovery.sh
  scripts/start-smart.sh
Due: devices-backend

Release v0.1.2 - Fix Python 3.10 compatibility and enhance port discovery
  VERSION
Due: none

Change repository clone URL in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Add MinIO container to CI for screenshot tests
  .github/workflows/ci.yml
Due: none

CI fixes
  .github/workflows/ci.yml
  devices/backend/src/app/services/minio_service.py
Due: devices-backend

Update tag-release.sh
  scripts/tag-release.sh
Due: none

chore: release v0.2.0
  charts/devices-backend/values.yaml
  charts/mentor-backend/values.yaml
Due: none

Path conditions:
  mentor-backend: any of: mentor/backend/src/
  devices-backend: any of: devices/backend/src/
  mentor-frontend: any of: mentor/frontend/src/
  devices-frontend: any of: devices/frontend/src/
